<h1>Coaching#ask</h1>
<p>Find me in app/views/coaching/ask.html.erb</p>

<form action="answer" method="get">

  <input type="text" name="question"> Question </input>
  <button type="submit" > click to submit </button>

</form>
